.articleType-div {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-left: 10px;
}
.articleType-header {
  height: 30px;
  font-size: 14px;
  font-weight: bold;
  line-height: 30px;
  border-bottom: 1px solid #ccc;
  /* padding-left: 6px; */
}
.articleType-items {
  /* border-radius: .3rem; */
  height: 30px;
  line-height: 30px;
  margin-bottom: 0.2rem;
  overflow: hidden;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}
.articleType-items:hover {
  border-bottom: 1px solid #007ca3;
  color: #007ca3;
  font-size: 16px;
}

/* .articleType-items:nth-of-type(8){
  border-bottom: 1px solid transparent;
} */
