.blogEvent-div{
  padding: 10px;
}
.blogEvent-header{
  height: 30px;
  font-size: 14px;
  font-weight: bold;
  line-height: 30px;
  /* padding-left: 6px; */
  border-bottom: 1px solid #007ca3;
}

.blogEvent-content{
  margin-top: 10px;
  /* padding-left: 6px; */
}

.ant-timeline-item-content{
  min-height: 0px !important;
}
.ant-timeline-item-last{
  padding: 0 !important;
}