.friendsLink-div{
  margin-top: 10px;
  padding: 10px;
}

.friendsLink-header{
  height: 30px;
  font-size: 14px;
  font-weight: bold;
  line-height: 30px;
  /* padding-left: 6px; */
  border-bottom: 1px solid #007ca3;
}

.friendsLink-content{
  margin-top: 10px;
  /* padding-left: 6px; */
}