.header{
  background-color: #fff;
  padding: .4rem;
  overflow: hidden;
  /* height: 3.0rem; */
  border-bottom: 1px solid #ccc;
}

.header-content{
  max-width: 1100px;
  margin: 0 auto;
}

.header-logo{
  color: #007ca3;
  font-size: 1.6rem;
  text-emphasis: left;
  cursor: pointer;
}

.header-txt{
  /* line-height: 100%; */
  font-size: 12px;
  color: #999;
  position: absolute;
  bottom: 0;
  padding-left: .3rem;
}

.NavBar{
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
  height: 30px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

.NavBarItem{
  padding: 0 5px;
  display: inline-block;
  font-size: 12px;
}

.NavBarItem:hover{
  border-bottom: 1px solid #007ca3;
}

.NavBarItemleft, .NavBarItemright{
  display: inline-block;
}

.NavBar::-webkit-scrollbar {
  display: none;
}

.header-font{
  /* font-family: "方正姚体"; */
  font-size: 14px;
  font-style: oblique;
  position: relative;
}
.header-font::after{
  content: 'The Future Depends on You';
  position: absolute;
  left: 0;
  top: 0;
  background-image: linear-gradient(to right,
  #c23616, #192a56, #00d2d3, yellow, #6d214f, #2e86de, #4cd137, #e84118);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  clip-path: circle(22px at 0% 50%);
  animation: headerMove 5s infinite;
}

@keyframes headerMove{
  0% {
    clip-path: circle(22px at 0% 50%);
  }

  50% {
    clip-path: circle(22px at 100% 50%);
  }

  100% {
    clip-path: circle(22px at 0% 50%);
  }
}